# Dependencies
node_modules/
server/node_modules/
client/node_modules/

# Environment Variables
.env
.env.local
.env.*

server/.env
client/.env

# Next.js
.next/
out/

# Build Files
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/