@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100..900&display=swap");

/* WEBSITE BACKGROUND */

body {
  background: linear-gradient(to right, #000000, #3c2d55);
}

/* NAVBAR */

  .navbar {
  top: 0;
  left: 0;
  width: 100%;  
  z-index: 9999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px 80px;

  background: rgba(128, 92, 186, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.3),
    0 0 30px rgba(128, 92, 186, 0.15);
}

/* LOGO */

.logo {
  font-family: "Big Shoulders", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;

  color: white;
  letter-spacing: 1px;
}

.logo span {
  color: #b89cff;
}

/* LINKS */

.nav-links {
  display: flex;
  gap: 1.2rem;
}

.nav-links a {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  text-decoration: none;
  font-family: "Chivo Mono", monospace;
  font-size: 0.95rem;
  color: rgba(188, 187, 187, 0.8);
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #d4c1ff;
}

.nav-links a.active::before {
  content: "";
  position: absolute;
  top: -14px; 
  left: 0;
  width: 100%;
  height: 3px;
  background: #b89cff;
  border-radius: 999px;
}

.nav-links a.active {
  color: #fff;
  font-weight: 600;
}


.profile-menu {
  position: relative;
  cursor: pointer;
}

.profile-icon {
  color: rgba(188, 187, 187, 0.9);
  transition: 0.3s ease;
}

.profile-icon:hover {
  color: #d4c1ff;
}

.dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 9999;
  min-width: 160px;

  background: rgba(128, 92, 186, 0.15);
  backdrop-filter: blur(18px);

  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 12px;

  padding: 10px 0;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);

  transition: all 0.3s ease;

  box-shadow:
    0 8px 30px rgba(0,0,0,0.3),
    0 0 20px rgba(128,92,186,0.15);
}

.profile-menu:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown a {
  display: block;

  padding: 12px 16px;

  text-decoration: none;

  font-family: "Chivo Mono", monospace;

  color: rgba(188,187,187,0.9);

  transition: 0.3s ease;
}

.dropdown a:hover {
  background: rgba(255,255,255,0.05);
  color: #d4c1ff;
}

.nav-links a.active {
  color: #ffffff;
}

.nav-links a.active::after {
  width: 100%;
}

.user-info {
  padding: 12px 16px;

  font-family: "Chivo Mono", monospace;
  font-size: 0.9rem;

  color: #d4c1ff;

  border-bottom: 1px solid rgba(
    255,
    255,
    255,
    0.08
  );

  margin-bottom: 6px;
}

.logout-btn {
  width: 100%;

  padding: 12px 16px;

  background: transparent;
  border: none;

  text-align: left;

  cursor: pointer;

  font-family: "Chivo Mono", monospace;

  color: rgba(
    188,
    187,
    187,
    0.9
  );

  transition: 0.3s ease;
}

.logout-btn:hover {
  background: rgba(
    255,
    255,
    255,
    0.05
  );

  color: #ff8080;
}

.profile-avatar {
  width: 42px;
  height: 42px;

  border-radius: 50%;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(224, 219, 232, 0.4);

  background: rgba(28, 21, 21, 0.5);
}

.profile-avatar img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.dropdown-btn {
  width: 100%;

  display: flex;
  align-items: center;

  padding: 12px 16px;

  background: transparent;
  border: none;

  cursor: pointer;

  font-family: "Chivo Mono", monospace;
  font-size: 0.95rem;

  color: rgba(188, 187, 187, 0.8);

  transition: all 0.3s ease;

  position: relative;
}

.dropdown-btn:hover {
  color: #d4c1ff;
  background: rgba(255, 255, 255, 0.05);
}

.dropdown-btn::before {
  content: "";

  position: absolute;

  left: 0;
  top: 0;

  width: 3px;
  height: 100%;

  background: #b89cff;

  border-radius: 999px;

  opacity: 0;

  transition: opacity 0.3s ease;
}

.dropdown-btn:hover::before {
  opacity: 1;
}

.dropdown-btn.register {
  color: #b89cff;
  font-weight: 600;
}

.dropdown-btn.register:hover {
  color: #ffffff;
}